.chart#article_chart
- content_for(:javascript) do
  javascript:
    var articleCountByYearCategories = [ #{@article_count_by_year.map{|k, v| k.strftime('%Y')}.map{ |d| "'#{d}'" }.join(', ')} ];
    var articleCountByYearData       = [ #{@article_count_by_year.map{|k, v| v}.join(', ')} ];

  coffee:
    $ ->
      chart = new Highcharts.Chart
        chart:
          renderTo: 'article_chart'
          defaultSeriesType: 'bar'
        title:
          text: 'Number of Articles Written by Year'
        xAxis:
          categories: articleCountByYearCategories
          title:
            text: null
        yAxis:
          min: 0
          title:
            text: null
        tooltip:
          formatter: ->
            this.y + (if this.y != 1 then ' articles written' else ' article written') + ' in ' + this.x
        plotOptions:
          bar:
            dataLabels:
              enabled: true
        series: [
          { name: 'Articles written', data: articleCountByYearData }
        ]
