.chart#article_chart
- content_for(:javascript) do
  coffee:
    $ ->
      chart = new Highcharts.Chart
        chart:
          renderTo: 'article_chart'
          defaultSeriesType: 'bar'
        title:
          text: 'Number of Articles Written by Year'
        xAxis:
          categories: articleCountByYearCategories
          title:
            text: null
        yAxis:
          min: 0
          title:
            text: null
        tooltip:
          formatter: ->
            this.y + (if this.y != 1 then ' articles written' else ' article written') + ' in ' + this.x
        plotOptions:
          bar:
            dataLabels:
              enabled: true
        series: [
          { name: 'Articles written', data: articleCountByYearData }
        ]
