.chart#book_chart_by_num_pages
- content_for(:javascript) do
  coffee:
    $ ->
      chart = new Highcharts.Chart
        chart:
          renderTo: 'book_chart_by_num_pages'
          defaultSeriesType: 'bar'
        title:
          text: 'Number of Pages Read by Year'
        xAxis:
          categories: gon.pageCountByYearCategories
          title:
            text: null
        yAxis:
          min: 0
          title:
            text: null
        tooltip:
          formatter: ->
            this.y + (if this.y != 1 then ' pages read' else ' page read') + ' in ' + this.x
        plotOptions:
          bar:
            dataLabels:
              enabled: true
        series: [
          { name: 'Pages read', data: gon.pageCountByYearData }
        ]
