.chart#exercise_chart
- content_for(:javascript) do
  coffee:
    $ ->
       chart = new Highcharts.Chart
          chart:
            renderTo: 'exercise_chart',
          title:
            text: 'Daily Average by Month'
          xAxis:
            categories: gon.exerciseChartCategories
            labels:
              rotation: -45
              align: 'right'
              step: 1
          yAxis: [ {
            min: 0,
            max: 50,
            title: { text: '' },
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null,
            labels: { style: { color: '#4572A7' } },
            plotBands: [
              { from: 0, to: 12, color: 'rgba(0, 0, 0, 0)', label: { text: '', style: { color: '#606060' } } },
              { from: 13, to: 25, color: 'rgba(0, 0, 0, 0.04)', label: { text: '', style: { color: '#606060' } } },
              { from: 26, to: 38, color: 'rgba(0, 0, 0, 0)', label: { text: '', style: { color: '#606060' } } },
              { from: 39, to: 50, color: 'rgba(0, 0, 0, 0.04)', label: { text: '', style: { color: '#606060' } } }
            ]
          },
          {
            min: 7.5,
            max: 8.5,
            tickInterval: 0.5,
            opposite: true,
            title: { text: '' },
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null,
            labels: { style: { color: '#AA4643' } },
          } ]
          tooltip:
            formatter: ->
              this.y + (if this.series.name == 'Sleep' then ' hours' else ' minutes') + ' in ' + this.x
          series: [
            { name: 'Exercise', data: gon.exerciseChartData, type: 'spline', lineWidth: 1 }
          ]

