.chart#sleep_chart
- content_for(:javascript) do
  javascript:
    var sleepChartCategories = [#{@sleep_count.map{|k, v| "'#{defined?(is_compact) && is_compact ? k.strftime("%b \\'%y") : k.strftime("%b %d") }'"}.join(', ')}];
    var sleepChartData       = [#{@sleep_count.map{|k, v| v}.join(', ')}];
    var sleepChartTitle      = "#{defined?(is_compact) && is_compact ? 'Sleep Average by Month' : 'Sleep by Day'}";
    var sleepCountStep       = #{defined?(is_compact) && is_compact ? 1 : 2};
    var sleepChartType       = "#{defined?(is_compact) && is_compact ?  'areaspline' : 'line'}"; 

  coffee:
    $ ->
       chart = new Highcharts.Chart
          chart:
            renderTo: 'sleep_chart'
            defaultSeriesType: sleepChartType
          title:
            text: sleepChartTitle
          xAxis:
            categories: sleepChartCategories
            labels:
              rotation: -45
              align: 'right'
              step: sleepCountStep
          yAxis:
            min: 0
            title:
              text: null
          tooltip:
            formatter: ->
              this.y + (if this.y != 1 then ' hours' else ' hour') + ' in ' + this.x
          series: [
            { name: 'hours', data: sleepChartData }
          ]
