.chart#sleep_chart
- content_for(:javascript) do
  coffee:
    $ ->
       chart = new Highcharts.Chart
          chart:
            renderTo: 'sleep_chart'
          title:
            text: "Total Sleep and Wakeup Time"
          xAxis:
            categories: gon.sleepChartCategories
            labels:
              rotation: -45
              align: 'right'
              step: 2
          yAxis: [
            {
              labels: { enabled: false }
              minorGridLineWidth: 0
              gridLineWidth: 0
              min: 0
              max: 12
              title:
                text: null
            },
            {
              labels: { enabled: false }
              minorGridLineWidth: 0
              gridLineWidth: 0
              min: 0
              max: 24
              opposite: true
              title:
                text: null
            } ]
          tooltip:
            formatter: ->
              (if this.series.name == 'sleep' then (this.y + ' hours') else (Math.floor(this.y) + ':' + ('0' + Math.floor(this.y * 60 % 60)).slice(-2) + 'am') + ' on ' + this.x)
          series: [
            { name: 'sleep', data: gon.sleepChartData, type: 'spline'},
            { name: 'wakeup', data: gon.sleepChartWakeupData, yAxis: 1, type: 'spline', lineWidth: 1, dashStyle: 'Dash', states: { hover: { lineWidth: 2 } } }
          ]
