.chart#tweet_chart
- content_for(:javascript) do
  coffee:
    $ ->
       chart = new Highcharts.Chart
          chart:
            renderTo: 'tweet_chart'
            defaultSeriesType: 'line'
          title:
            text: 'Tweets by Month'
          xAxis:
            categories: gon.tweetCountByMonthCategories
            labels:
              rotation: -45
              align: 'right'
              step: gon.tweetCountByMonthStep
          yAxis:
            min: 0
            title:
              text: null
          tooltip:
            formatter: ->
              this.y + (if this.y != 1 then ' tweets' else ' tweet') + ' in ' + this.x
          series: [
            { name: 'Tweets', data: gon.tweetCountByMonthData }
          ]
